#donors
  .row
    .col-sm
      %h3 Donors

  .row
    .col-sm
      %a.btn.btn-outline-primary{href: new_donor_path} Add a new donor

  .row
    .col-sm
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Address
            %th

        %tbody
          - @donors.each do |donor|
            %tr
              %td= donor.name
              %td
                %div= donor.address1
                %div= donor.address2
                %div
                  = donor.city
                  = donor.state
                  = donor.zip
              %td{style: 'text-align: right;'}
                %a.btn.btn-outline-primary.btn-sm{href: edit_donor_path(donor)} Edit
