#donors
  .row
    .col-sm
      %h3 Donors

  .row
    .col-sm
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Address

        %tbody
          - @donors.each do |donor|
            %tr
              %td= donor.name
              %td
                %div= donor.address1
                %div= donor.address2
                %div
                  = donor.city
                  = donor.state
                  = donor.zip
