#new-donation
  .row
    .col-sm
      %h4 Add a new donation

  = form_with model: @donation do |f|
    .row.mb-3
      .col-4
        .form-floating
          = f.date_field :date, value: Date.today, class: 'form-control', placeholder: 'Date'
          = f.label :date, class: 'form-label'
      .col-8
        -#%input#donor-auto-complete.autocomplete
        .form-floating
          = f.select :donor_id, options_for_select(@donors), {include_blank: true}, class: 'form-select', placeholder: 'Donor'
          = f.label :donor_id, class: 'form-label'

    .row.mb-3
      .col-4
        .form-floating
          = f.text_field :amount, class: 'form-control', placeholder: 'Amount'
          = f.label :amount, class: 'form-label'
      .col-4
        .form-floating
          = f.text_field :method, value: 'Check', class: 'form-control', placeholder: 'Method'
          = f.label :method, class: 'form-label'
      .col-4
        .form-floating
          = f.text_field :account, class: 'form-control', placeholder: 'Account'
          = f.label :account, class: 'form-label'

    .row.mb-3
      .col
        .form-floating
          = f.text_field :memo, class: 'form-control', placeholder: 'Memo'
          = f.label :memo, class: 'form-label'

    .row.mb-3
      .col
        .mb-3
          .form-check.form-switch
            = f.check_box :tax_deductible, class: 'form-check-input', checked: true
            = f.label :tax_deductible, "This donation is tax deductible", class: 'form-check-label'

        -#.mb-3
        .form-check.form-switch
          = f.check_box :needs_review, class: 'form-check-input'
          = f.label :needs_review, "This donation needs review", class: 'form-check-label'
          .form-text Flip this if there’s something you’d like to come back and check on in the future

      .col
        .form-floating
          = f.text_area :notes, class: 'form-control', placeholder: 'Notes', style: 'height: 100px;'
          = f.label :notes, class: 'form-label'

    -#.row.mb-3
    -#  .col
    -#    %label.form-label{for: 'xxx'} City
    -#    %input.form-control#xxx{list: "datalistOptions"}
    -#    %datalist#datalistOptions
    -#      %option{value: "San Francisco"}
    -#      %option{value: "New York"}
    -#      %option{value: "Seattle"}
    -#      %option{value: "Los Angeles"}
    -#      %option{value: "Chicago"}

    = f.submit 'Save' , class: 'btn btn-primary'